{% extends "base.html" %}

{% block body %}
    <form action="{% url 'users:create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Create">
    </form>
    <a href="{% url 'users:login' %}">Already a user? Log in</a>
{% endblock %}