{% extends "base.html" %}
{% load custom_tags static %}

{% block title %}
    Bins
{% endblock %}

{% block body %}

    {% get_nav "Bins" %}

    <div class="menu">
        <a href="{% url 'inventory:index' %}">Bins</a>
        <a href="{% url 'inventory:items' %}">Items</a>
        <a href="{% url 'inventory:item_logs' 0 %}">Changes History</a>

        <input type="text" id="search-bar" class="form-control" placeholder="Search">
    </div>

    {% if bins %}

        <ul class="bins">

        {% for bin in bins %}
            <li id="{{ bin.id }}" class="bin qdata">
                <a href="{% url 'inventory:bin_items' bin.id %}">
                    <span class="qtext">{{ bin.name }}</span>
                </a>
            </li>
        {% endfor %}

        </ul>

        <div class="button-container">
            <a href="{% url 'inventory:edit_bin' %}">Edit bins</a>
        </div>

    {% else %}

        <div class="button-container">
            <a href="{% url 'inventory:add_bin' %}">Add bin</a>
        </div>
        
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/loadquery.js' %}"></script>
{% endblock %}