{% extends "base.html" %}
{% load custom_tags static %}

{% block title %}
    {% if not selected_bin %}
        Items
    {% else %}
        Items - {{ bin.name }}
    {% endif %}
{% endblock %}

{% block header %}
    Items
{% endblock %}

{% block body %}

    {% get_nav "Items" %}

    <div class="menu">
        <a href="{% url 'inventory:index' %}">Bins</a>
        <a href="{% url 'inventory:items' %}">Items</a>
        <a href="{% url 'inventory:item_logs' 0 %}">Changes History</a>
    
        <select id="bin" name="bin" onchange="redirectToBin()">
            <option value="-1" {% if not selected_bin %} selected {% endif %}>All items</option>
            {% for bin in bins %}
                <option value="{{ bin.id }}" {% if selected_bin.id == bin.id %} selected {% endif %}>{{ bin.name }}</option>
            {% endfor %}
        </select>
    
        <input type="text" id="search-bar" class="form-control" placeholder="Search">
    </div>

    {% if items %}

        <ul class="items">

        {% for item in items %}
            <li class="item qdata">
                <div>
                    <span class="qtext">{{ item.name }}</span> x {{ item.quantity }}
                </div>
            </li>
        {% endfor %}

        </ul>

        <div class="button-container">
            {% if selected_bin %}
                <a href="{% url 'inventory:edit_bin_item' selected_bin.id %}">Edit items</a>
            {% else %}
                <a href="{% url 'inventory:edit_item' %}">Edit items</a>
            {% endif %}
        </div>

    {% else %}

        <div class="button-container">
            {% if selected_bin %}
                <a href="{% url 'inventory:add_bin_item' selected_bin.id %}">Add items</a>
            {% else %}
                <a href="{% url 'inventory:add_item' %}">Add items</a>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}

{% block extra_js %}
    <script>
        function redirectToBin() {
            const binId = document.getElementById('bin').value;
            let url = '';

            if (binId === '-1') {
                url = "{% url 'inventory:items' %}";
            } else {
                url = `/items/b/${binId}`
            }

            window.location.href = url;
        }
    </script>

    <script type="text/javascript" src="{% static 'js/loadquery.js' %}"></script>
{% endblock %}